#cloud-config
#basic just to add packages, install updates, reboot.
packages:
  - frr
  - plocate
  - bridge-utils
  - qemu-kvm
  - libvirt-daemon-system
  - libvirt-clients
  - inetutils-traceroute
  - iperf3
  - netstat-nat
  - python3
package_upgrade: true
package_reboot_if_required: true
disable_root: false
disable_root_opts: ""
users:
  - name: root
    ssh_authorized_keys:
      - ${root_key}